@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 210 31.8% 91.4%;
  --input: 260 100% 91.4%;
  --ring: 260 84% 90%;

  --radius: 0.5rem;
  --primary-color:#05051e;
  --black-color1:#0001037c;
  --custom-white:#e2e8ff;
}
*{
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #e2e8ff;
  position: relative;
}
#cursor{
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%,-50%) scale(0.5);
  z-index: 999999;
  pointer-events: none;
}

.customBorder1:before {
  background: linear-gradient(264.15deg, rgba(226, 232, 255, .2) -.4%, rgba(226, 232, 255, 0) 100.4%), linear-gradient(0deg, rgba(226, 232, 255, .3), rgba(226, 232, 255, .1));
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
.customBorder2:before {
  background: linear-gradient(135deg, #a578ff 0%, #ff83bd 33.33%, #ffba6d 66.67%, #fbe9be 100%);
  border-radius: 9999px;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  opacity: 0.5;
}

.gradient1 {
  background-image: linear-gradient(135deg, #a578ff 0%, #ff83bd 33.33%, #ffba6d 66.67%, #fbe9be 100%);
}

.customFadingEffect::after {
  content: '';
  background: linear-gradient(to top, #05051e 30%, transparent);
  z-index: 50;
  inset: 0;
  position: absolute;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.glassBtn{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  }
  .glassBtn1{
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  }
  .glassBtn1:before,.glassBtn:before {
      background: linear-gradient(264.15deg, rgba(226, 232, 255, .2) -.4%, rgba(226, 232, 255, 0) 100.4%), linear-gradient(0deg, rgba(226, 232, 255, .3), rgba(226, 232, 255, .1));
      border-radius: inherit;
      content: "";
      inset: 0;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: xor;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px;
      pointer-events: none;
      position: absolute;
  }
  .customContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 850px;
}
.customCircle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #070722 0%, #05051e 50%);
    box-sizing: border-box;
    z-index: 2; /* place circle above the image */
    position: relative;
}
.customCircle:before {
  background: linear-gradient(264.15deg, rgba(226, 232, 255, .2) -.4%, rgba(226, 232, 255, 0) 100.4%), linear-gradient(0deg, rgba(226, 232, 255, 0), rgba(226, 232, 255, 0));
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
.customOrbit {
    position: absolute;
    width: 800px; 
    height: 800px; 
    top: 50%; 
    left: 50%;
    animation: customBackBeamRotate 8s linear infinite;
    transform: translate(-50%,-50%);
}
.customOrbit1 {
    position: absolute;
    width: 800px; 
    height: 800px; 
    top: 50%; 
    left: 50%;
    animation: customBackBeamRotate 8s linear infinite;
    animation-delay: 1s;
    transform: translate(-50%,-50%);
}
.light-beam {
    width: 200px; /* smaller image width */
    height: 200px; /* smaller image height */
    position: absolute;
    top: 0%;
    left: 18%;
    /* transform: translateX(-50%); */
}

@keyframes customBackBeamRotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.FeatureSection{
  background-image: url('/bg1.png');
  background-size: cover;
}
@media (max-width: 768px) {
  .FeatureSection{
    background-image: none;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  min-height: 100px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}